<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
	<head>
		<title>ACS SimBe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="main.css" />
	</head>
<body>
	<div id="page">
		<div id="head">
			<a href="#" alt="logo" title="goto main"><img alt="HTML Task" src="img/logo.gif"/></a>
			<h1>ООО "Симбирский Бекон"</h1>
			<h2>АСУ коптильной камеры</h2>
		</div>

        <div id="r0" class="row">
            <div id="c0" class="cell"></div>
            <div id="c1" class="cell"></div>
            <div id="c2" class="cell"></div>
        </div>


        <div id="r1" class="row">
            <div rel="auto" class="cell"></div>
            <div rel="auto" class="cell"></div>
            <div rel="auto" class="cell"></div>
        </div>

	</div>
</body>
</html>

